body#home {
  background-image: url("/assets/img/uncannycomputer-mobile.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  
  @media only screen and (min-width: $md-min-width) {
    background-image: url("/assets/img/uncannycomputer.png");
    background-position: center center;
    background-size: 100% auto;
  }

  .logo {
    display: none;
  }

  a#contact-button {
    text-indent: -9999px;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.site-container {
  max-width: 1200px;
  position: absolute;
  top: 20px;
  left: 5%;
  right: 5%;
}

#contact-form {
  margin-top: 50px;

  @media only screen and (min-width: $md-min-width) {
    margin-top: 0;
  }
  

  label {
    text-transform: uppercase;
    font-weight: 900;

  }

  input, textarea {
    width: 100%;
    display: block;
    font-weight: normal;

  }
  textarea {
    height: 200px;
  }
  button {
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

img {
  max-width: 100%;
}

body#about {
  @media only screen and (min-width: $md-min-width) {

    .row {
      display: flex;
      flex-direction: row;

      > * {
        width: 50%;
        &.profile-image {
          width: 40%;
        }
        &.bio {
          margin-left: 5%;

          > p:first-child {
            margin-top: 0;
          }
        }
      }

      
    }

    .main {
      display: flex;
      flex-direction: row;

      > section {
        width: 33%;
        &:first-child {
          width: 66%;
        }
      }
    }
  }
}