* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  min-height: 100vh;
}

body {
  font: 300 15px/1.6 'Cutive Mono', monospace;
  color: #333;
  transition: all .4s .3s ease-in;

  a {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }
}

